version: 1.0

roots:
  definitions:
    description: "Logical definitions and catalogs"
  infrastructure:
    description: "Physical and logical infrastructure"

entities:

  region:
    meta:
      group: Organization
      ui_group: Organization
      api_prefix: dcim
      object: regions

    parent:
      required: true
      allowed:
        - entity: region
          field: parent
        - root: infrastructure

    links: {}

    attributes:
      name:
        required: true
        maxLength: 100
      slug:
        required: true
        pattern: ^[-a-zA-Z0-9_]+$


  site-group:
    meta:
      group: Organization
      ui_group: Organization
      api_prefix: dcim
      object: site-groups

    parent:
      required: true
      allowed:
        - entity: site-group
          field: parent
        - root: definitions

    links: {}

    attributes:
      name:
        required: true
      slug:
        required: true


  site:
    meta:
      group: Organization
      ui_group: Organization
      api_prefix: dcim
      object: sites

    parent:
      required: true
      allowed:
        - entity: region
          field: region
        - root: infrastructure

    links:
      tenant:
        entity: tenant
        field: tenant
        required: false
      site-group:
        entity: site-group
        field: group
        required: false

    attributes:
      name:
        required: true
      slug:
        required: true
      status:
        required: true
        value: [planned, staging, active, decommissioning, retired]
        label: [Planned, Staging, Active, Decommissioning, Retired]
      latitude:
        type: number
        pattern: ^\d{2}\.\d{6}$
        nullable: true
        minimum: -90
        maximum: 90


  location:
    meta:
      group: Organization
      ui_group: Organization
      api_prefix: dcim
      object: locations

    parent:
      required: true
      allowed:
        - entity: location
          field: parent
        - root: infrastructure

    links:
      site:
        entity: site
        field: site
        required: true
      tenant:
        entity: tenant
        field: tenant
        required: false

    attributes:
      name:
        required: true
      slug:
        required: true
      status:
        required: true


  tenant-group:
    meta:
      group: Organization
      ui_group: Organization
      api_prefix: tenancy
      object: tenant-groups

    parent:
      required: true
      allowed:
        - entity: tenant-group
          field: parent
        - root: definitions

    links: {}

    attributes:
      name:
        required: true
      slug:
        required: true


  tenant:
    meta:
      group: Organization
      ui_group: Organization
      api_prefix: tenancy
      object: tenants

    parent:
      required: true
      allowed:
        - entity: tenant-group
          field: group
        - root: definitions

    links: {}

    attributes:
      name:
        required: true
      slug:
        required: true


  rack-type:
    meta:
      group: Racks
      ui_group: Inventory
      api_prefix: dcim
      object: rack-types

    parent:
      required: true
      allowed:
        - entity: manufacturer
          field: manufacturer

    links: {}

    attributes:
      slug:
        required: true
      model:
        required: true
      form_factor:
        required: true
      width:
        required: true
        value: [10, 19, 21, 23]
        label: [10 inches, 19 inches, 21 inches, 23 inches]
      weight:
        type: number
      desc_units:
        type: boolean
      u_height:
        required: true
      starting_unit:
        required: true


  rack:
    meta:
      group: Racks
      ui_group: Inventory
      api_prefix: dcim
      object: racks

    parent:
      required: true
      allowed:
        - entity: location
          field: location
        - root: infrastructure

    links:
      site:
        entity: site
        field: site
        required: false
      tenant:
        entity: tenant
        field: tenant
        required: false
      rack-type:
        entity: rack-type
        field: rack_type
        required: false
      rack-role:
        entity: rack-role
        field: role
        required: false

    attributes:
      name:
        required: true
      status:
        required: true
      width:
        required: true
      u_height:
        required: true
      starting_unit:
        required: true


  manufacturer:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: manufacturers

    parent:
      required: true
      allowed:
        - root: definitions

    links: {}

    attributes:
      name:
        required: true
      slug:
        required: true


  device-role:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: device-roles

    parent:
      required: true
      allowed:
        - entity: device-role
          field: parent
        - root: definitions

    links:
      config-template:
        entity: config-template
        field: config_template
        required: false

    attributes:
      name:
        required: true
      slug:
        required: true
      color:
        required: true
        pattern: ^[0-9a-f]{6}$


  platform:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: platforms

    parent:
      required: true
      allowed:
        - entity: platform
          field: parent
        - root: definitions

    links:
      manufacturer:
        entity: manufacturer
        field: manufacturer
        required: false
      config-template:
        entity: config-template
        field: config_template
        required: false

    attributes:
      name:
        required: true
      slug:
        required: true


  device-type:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: device-types

    parent:
      required: true
      allowed:
        - root: definitions

    links:
      manufacturer:
        entity: manufacturer
        field: manufacturer
        required: true
      platform:
        entity: platform
        field: default_platform
        required: true

    attributes:
      slug:
        required: true
      model:
        required: true
      u_height:
        required: true


  virtual-chassis:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: virtual-chassis

    parent:
      required: true
      allowed:
        - root: definitions

    links: {}

    attributes:
      name:
        required: true


  device:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: devices

    parent:
      required: true
      allowed:
        - entity: location
          field: location
        - entity: rack
          field: rack
        - root: infrastructure

    links:
      device-role:
        entity: device-role
        field: role
        required: true
      device-type:
        entity: device-type
        field: device_type
        required: true
      site:
        entity: site
        field: site
        required: true
      tenant:
        entity: tenant
        field: tenant
        required: false
      platform:
        entity: platform
        field: platform
        required: false
      cluster:
        entity: cluster
        field: cluster
        required: false
      virtual-chassis:
        entity: virtual-chassis
        field: virtual_chassis
        required: false

    attributes:
      name:
        required: false
      status:
        required: true


  interface:
    meta:
      group: Devices
      ui_group: Inventory
      api_prefix: dcim
      object: interfaces

    parent:
      required: true
      allowed:
        - entity: device
          field: device

    links: {}

    attributes:
      name:
        required: true
      type:
        required: true
